.menu-container {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;    
    cursor: default;
    color: white;
    .menu-open, .menu-close {
        display: flex;
        flex: 1 1;        
        height: 100%;
        float: left;
        background-color: $colorDefault;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
        .menu-item, .menu-item-settings {
            &:hover {
                background-color: $text-color-green;
            }   
        }
       
        .item-menu-active {
            background-color: $text-color-green;
        }
        .menu-item-settings {
            position: absolute;
            bottom: 0;
        }
        .menu-item-bars {            
            cursor: pointer;
            @include flexDefault();
            flex-direction: column;
            height: 62px; 
        }

         @media screen and (max-width: 767px) {
            .menu-item-bars {
                display: none;
            }
        }
        @media screen and (min-width: 767px) {
            .menu-item-bars {
                display: inherit;
            }
        }
    }

    .menu-open {
        min-width: 150px;
        .menu-item, .menu-item-settings {
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: pointer;
            @include flexDefault();
            flex-direction: column;
            height: 62px;            
            span {
                margin-top: 5px;
            }
        }
        .menu-item-settings {            
            width: 150px;
        }
    }

    .menu-close {
        min-width: 70px;
        .menu-item, .menu-item-settings  {
            cursor: pointer;
            @include flexDefault();
            flex-direction: column;
            height: 62px;         
            span {
                display: none;
            }
        }
        .menu-item-settings {            
            width: 70px;
        }
    }        
}