.menu-container {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;    
    cursor: default;
    color: white;
    .menu-open, .menu-close {
        display: flex;
        flex: 1 1;        
        height: 100%;
        float: left;
        background-color: $colorDefault;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
        .menu-item {
            &:hover {
                background-color: $text-color-green;
            }     
        }  
        .menu-item-bars {            
            cursor: pointer;
            @include flexDefault();
            flex-direction: column;
            height: 62px; 
        }
    }

    .menu-open {
        min-width: 150px;
        .menu-item {
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: pointer;
            @include flexDefault();
            flex-direction: column;
            height: 62px;            
            span {
                margin-top: 5px;
            }
        }
    }

    .menu-close {
        min-width: 70px;
        .menu-item {
            cursor: pointer;
            @include flexDefault();
            flex-direction: column;
            height: 62px;         
            span {
                display: none;
            }
        }
    } 
        
}