<div class="menu-container">
    <div ng-class="{'menu-open': vm.compress, 'menu-close':!vm.compress}"> 
            <div class="menu-item-bars" ng-click="vm.menuCompress()">            
                    <i class="fa fa-bars" aria-hidden="true"></i>                                
                </div> 
        <div class="menu-item">            
            <i class="fa fa-home" aria-hidden="true"></i>            
            <span> Menu </span>
        </div>       
        <div class="menu-item">            
            <i class="fa fa-user" aria-hidden="true"></i>            
            <span> User </span>
        </div>  
        <div class="menu-item">            
            <i class="fa fa-item" aria-hidden="true"></i>            
            <span> Item </span>
        </div>     
    </div>
</div>