<div class="userModal-container">
    <label class="title">{{vm.item._id ? 'Editar item' : 'Novo item'}}</label>
    <form novalidate name="vm.formCadastro">
        <div class="input-group active-float-left width-lg">      
            <input type="text" required ng-model="vm.item.name">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Nome</label>
        </div>
        <div class="input-group active-float-left width-lg" ng-disabled="vm.user.role == 'admin'">      
            <select ng-model="vm.item.status" required>
                <option value=""></options>
                <option value="Pendente">Pendente </option>
                <option value="Concluido">Concluido </option>
            </select>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Status</label>
        </div> 
        <div class="buttons">
            <button class="btn btn-red btn-md" ng-click="closeThisDialog(0)"> Cancelar </button>    
            <button class="btn btn-green btn-md" ng-class="{'disabled': !vm.formCadastro.$valid}" id="salvar" ng-click="vm.saveItem()" ng-disabled="!vm.formCadastro.$valid"> Salvar </button>
        </div>
    </form>
</div>