<div class="item-container"> 
    <label class="title">Itens</label>   
    <div class="search-container">
        <div class="input-group active-float-left">      
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Item</label>
        </div>
        <div class="input-group active-float-left">      
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Solicitante</label>
        </div>
        <div class="input-group active-float-left">      
            <select ng-model="vm.teste" required>
                <option value=""></options>
                <option value="1">Pendente</option>
                <option value="1">Concluido</option>
            </select>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Status</label>
        </div>                      
    </div>
    <div class="search-buttons">
        <button class="btn btn-md"> Pesquisar </button>
        <button class="btn btn-green btn-md active-float-right" ng-click="vm.newItem()"> Novo </button>
    </div>    
    <div class="search-table table-responsive-vertical shadow-z-1">  
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                <th>Item</th>
                <th>Solicitante</th>
                <th>Status</th>
                <th>Ações</th>
                </tr>
            </thead>
            <tbody>       
                <tr ng-repeat="item in vm.listItens">
                    <td data-title="Name"> {{item.name}} </td>
                    <td data-title="Solicitante"> {{item.requester}} </td>
                    <td data-title="Status"> {{item.status}} </td>
                    <td data-title="Action"> <button class="btn btn-green btn-icon" title="Editar" ng-click="vm.editItem(item)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-red btn-icon" title="Excluir"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>