.access-denied-container {
    @include flexDefault();        
    width: auto;
    flex: 1 1 auto;
    justify-content: center;
    flex-direction: column;  
    align-items: center; 
    overflow: auto;                           
}