<div class="userModal-container" ng-class="{'user-edit': vm.user._id}">
    <label class="title">{{vm.user._id ? 'Editar usuário' : 'Novo usuário'}}</label>
    <form novalidate name="vm.formCadastro">
        <div class="input-group active-float-left width-lg">      
            <input type="text" required ng-model="vm.user.email" ng-pattern='vm.validateEmail'>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
        </div>
        <div class="input-group active-float-left width-lg" ng-if="!vm.user._id">      
            <input type="password" required ng-model="vm.user.password">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Senha</label>
        </div>
        <div class="input-group active-float-left width-lg">      
            <input type="text" required ng-model="vm.user.name">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Nome</label>
        </div>
        <div class="input-group active-float-left width-lg" ng-disabled="vm.user.role == 'admin'">      
            <select ng-model="vm.user.role" required>
                <option value=""></options>
                <option value="admin">Admin </option>
                <option value="user">User </option>
            </select>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Nível de acesso</label>
        </div> 
        <div class="buttons">
            <button class="btn btn-red btn-md" ng-click="closeThisDialog(0)"> Cancelar </button>    
            <button class="btn btn-green btn-md" id="salvar" ng-click="vm.saveUser()" ng-disabled="!vm.formCadastro.$valid"> Salvar </button>
        </div>
        <div class="footer-modal">
            <span>{{vm.msgError}}</span>
        </div>
    </form>
</div>