<div class="login-container">
    <div class="box">
        <div id="header">
          <div class="icon-header"><img src="./assets/icons/user.png" ></div>
          <div id="bottom-head"></div>
        </div> 
         <form action="" method="post">
          <div class="input-group">      
            <input class="inputMaterial" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>
          <div class="input-group">      
            <input class="inputMaterial" type="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
          </div>
          <button id="buttonlogintoregister" class="btn" type="submit">Login</button>
        </form>
        <div id="footer-box"><p class="footer-text">Esqueceu a senha? <span class="sign-up"> Clique aqui</span></p></div>
      </div>      
</div>