<div class="changePassword-container" ng-class="{'user-edit': vm.user._id}">
        <label class="title">Trocar senha</label>
        <form novalidate name="vm.formPassword">
            <div class="input-group active-float-left width-lg">      
                <input type="password" required ng-model="vm.passwords.password" ng-minlength="6">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Senha atual</label>
            </div>
            <div class="input-group active-float-left width-lg">      
                <input type="password" required ng-model="vm.passwords.newPassword" ng-minlength="6">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Nova senha</label>
            </div>
            <div class="input-group active-float-left width-lg">      
                <input type="password" required ng-model="vm.repeatPassword" ng-minlength="6">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Repetir nova senha</label>
            </div>            
            <div class="buttons">
                <button class="btn btn-red btn-md" ng-click="closeThisDialog(0)"> Cancelar </button>    
                <button class="btn btn-green btn-md" id="salvar" ng-click="vm.changePassword()" ng-disabled="!vm.formPassword.$valid"> Salvar </button>
            </div>
        </form>
    </div>