<div class="home-container">  
    <label class="title">Home</label>
    <div class="statistics-home">
        <div class="statistics-item">
            <span class="title"><i class="fa fa-user-sm"></i> Total usuários</span> <br/>
            <span class="middle"> {{vm.countItem}} </span>
        </div>
        <div class="statistics-item">
            <span class="title"><i class="fa fa-item-sm"></i> Total Items</span> <br/>
            <span class="middle"> {{vm.countUser}} </span>            
        </div>
    </div> 
    <div class="last-inserts">
        <label> Ultimos usuários </label>
        <div ng-repeat="user in vm.listUsers">
            {{user.name}}
        </div>        
    </div>  
    <div class="last-inserts">
        <label> Ultimos items </label>
        <div ng-repeat="item in vm.listItems">
            {{item.name}}
        </div>
    </div> 
</div>