<div class="login-container">
    <div class="box">
        <div id="header">
          <div class="icon-header"><img src="./assets/icons/user.png" ></div>
          <div id="bottom-head">Control Panel</div>
        </div> 
         <form novalidate name="vm.formLogin">
          <div class="input-group">      
            <input type="text" required ng-model="vm.login.email" ng-pattern='vm.validateEmail'>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>
          <div class="input-group">      
            <input type="password" required ng-model="vm.login.password" ng-minlength="6">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
          </div>          
          <button id="buttonlogintoregister" class="btn" ng-click="vm.signIn()"  ng-disabled="!vm.formLogin.$valid">Login</button>
        </form>
        <div id="footer-box"> <label class="footer-text"> {{vm.msgError ? vm.msgError : ''}} </label> </div>
      </div>      
</div>