.login-container {
    @include flexDefault();        
    .box{
        position: relative;    
        height: 410px;
        top: 40px;
        left: 0;
        z-index: 200;
        right: 0;
        width:400px;
        color:#666;
        border-radius: 3px;
        background: #FFF;
        margin-bottom: 100px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        overflow: hidden;

        #header{
            background: $colorDefault;
            position: relative;
            height: 100px;
            width: 100%;
            margin-bottom: 30px;
            .icon-header {
                @include flexDefault();
                height: 88px;
            }
        }
                    
        #bottom-head{
            position: relative;
            background: $colorDefault;
            height: 18px;
            color: white;
        }
        
        #bottom-head::after{
        content: '';
            width: 0px;
            height: 0px;
            display: block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 7px solid white;
            border-right: 7px solid rgba(0,0,0,0);
            border-left: 7px solid rgba(0,0,0,0);
            border-top: 7px solid rgba(0,0,0,0);
        }
        
        #footer-box{
            @include flexDefault();      
            height: 50px;
            background: $colorDefault;
            position: absolute;
            bottom: 0;  
            .footer-text{
                color: #cfd8dc;            
            }
            
            .sign-up{
                color: white;
            cursor: pointer;
            }
            
            .sign-up:hover{
                color: #b2dfdb; 
            }     
        }
    }                               
}